<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LazyBear</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blueIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>graffitiIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>graffiti.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>greenIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>matteBlackIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>matteBlack.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>matteWhiteIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>matteWhite.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pinkIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>redIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>default.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blueIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>graffitiIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>graffiti.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>greenIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>matteBlackIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>matteBlack.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>matteWhiteIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>matteWhite.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pinkIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>redIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>default.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
